In [32]:
import pandas as pd


data_path = '../data'
file_names = [f'2016_{str(n+1).zfill(2)}.csv' for n in range(12)]
file_names

dfs = []
for i in range(12):
    dtype_spec = None
    if i in [2, 4, 5, 8, 9, 10, 11]:
        dtype_spec = {48: 'str'}
    elif i == 3:
        dtype_spec = {
            0: 'str', 1: 'str', 3: 'str', 4: 'str', 10: 'str', 11: 'str', 13: 'str',
            19: 'str', 20: 'str', 21: 'str', 22: 'str', 30: 'str', 36: 'str', 41: 'str', 48: 'str'
        }
    df_part = pd.read_csv(f'{data_path}/{file_names[i]}', on_bad_lines='skip', dtype=dtype_spec)
    print(f'File {i + 1}: {df_part.shape}')
    dfs.append(df_part)
df = pd.concat(dfs, ignore_index=True)

columns_to_drop = [
    'Unnamed: 64',
    'UNIQUE_CARRIER',
    'YEAR',
    'QUARTER',
    'MONTH',
    'DAY_OF_MONTH',
    'DAY_OF_WEEK',
    'FL_DATE_year',
    'FL_DATE_quarter',
    'FL_DATE_month',
    'FL_DATE_day_of_month',
    'FL_DATE_day_of_week',
    'DEP_TIME_BLK',
    'ARR_TIME_BLK',
    'CANCELLATION_CODE',
    'FLIGHTS',
    'DEP_DELAY_NEW',
    'ARR_DELAY_NEW',
    'DEP_DEL15',
    'ARR_DEL15',
    'FIRST_DEP_TIME',
    'TOTAL_ADD_GTIME',
    'LONGEST_ADD_GTIME'
]
existing_drop = [col for col in columns_to_drop if col in df.columns]
if existing_drop:
    df.drop(columns=existing_drop, inplace=True)

File 1: (445827, 65)
File 2: (423889, 65)
File 3: (479122, 65)
File 4: (479950, 65)
File 5: (479358, 65)
File 6: (487637, 65)
File 7: (502457, 65)
File 8: (498347, 65)
File 9: (454878, 65)
File 10: (472626, 65)
File 11: (450938, 65)
File 12: (460949, 65)

In [35]:
df.drop(df[df['FL_NUM'] == '582700-1759'].index, inplace=True)
df.drop(df[df['TAXI_OUT'] == '11.00.00'].index, inplace=True)
df.drop(df[df['FL_DATE'] == '5059'].index, inplace=True)
# df = df.loc[~df['FL_DATE'].str.startswith('5059')]
df.drop(df[df['ORIGIN_STATE_NM'] == 'Illinois",1842"'].index, inplace=True)
df['ORIGIN_WAC'] = df['ORIGIN_WAC'].replace('7.00', 7)

columns_to_check = ['CRS_ARR_TIME', 'CANCELLED', 'DIVERTED', 'CRS_ELAPSED_TIME', 'DISTANCE', 'DISTANCE_GROUP']
df.dropna(subset=columns_to_check, inplace=True)

df.loc[:, 'FL_DATE'] = pd.to_datetime(df['FL_DATE'])

df['FL_NUM'] = df['FL_NUM'].astype(int)

df['ORIGIN_AIRPORT_ID'] = df['ORIGIN_AIRPORT_ID'].astype(int)
df['ORIGIN_CITY_MARKET_ID'] = df['ORIGIN_CITY_MARKET_ID'].astype(int)
df['ORIGIN_STATE_FIPS'] = df['ORIGIN_STATE_FIPS'].astype(int)
df['ORIGIN_WAC'] = df['ORIGIN_WAC'].astype(int)

df['DEST_AIRPORT_ID'] = df['DEST_AIRPORT_ID'].astype(int)
df['DEST_AIRPORT_SEQ_ID'] = df['DEST_AIRPORT_SEQ_ID'].astype(int)
df['DEST_CITY_MARKET_ID'] = df['DEST_CITY_MARKET_ID'].astype(int)
df['DEST_STATE_FIPS'] = df['DEST_STATE_FIPS'].astype(int)
df['DEST_WAC'] = df['DEST_WAC'].astype(int)

In [36]:

df['CRS_DEP_TIME'] = df['CRS_DEP_TIME'].astype(int)
df['DEP_TIME'] = df['DEP_TIME'].astype(float)
df['DEP_TIME'] = df['DEP_TIME'].astype('Int64')
df['DEP_DELAY'] = df['DEP_DELAY'].astype('Int64')
df['DEP_DELAY_GROUP'] = df['DEP_DELAY_GROUP'].astype('Int64')
df['TAXI_OUT'] = df['TAXI_OUT'].astype(float)
df['TAXI_OUT'] = df['TAXI_OUT'].astype('Int64')
df['WHEELS_OFF'] = df['WHEELS_OFF'].astype(float)
df['WHEELS_OFF'] = df['WHEELS_OFF'].astype('Int64')
df['WHEELS_ON'] = df['WHEELS_ON'].astype(float)
df['WHEELS_ON'] = df['WHEELS_ON'].astype('Int64')
df['TAXI_IN'] = df['TAXI_IN'].astype(float)
df['TAXI_IN'] = df['TAXI_IN'].astype('Int64')
df['CRS_ARR_TIME'] = df['CRS_ARR_TIME'].astype(float)
df['CRS_ARR_TIME'] = df['CRS_ARR_TIME'].astype('Int64')
df['ARR_TIME'] = df['ARR_TIME'].astype(float)
df['ARR_TIME'] = df['ARR_TIME'].astype('Int64')
df['ARR_DELAY'] = df['ARR_DELAY'].astype(float)
df['ARR_DELAY'] = df['ARR_DELAY'].astype('Int64')
df['ARR_DELAY_GROUP'] = df['ARR_DELAY_GROUP'].astype(float)
df['ARR_DELAY_GROUP'] = df['ARR_DELAY_GROUP'].astype('Int64')
df['CANCELLED'] = df['CANCELLED'].astype(int)
df['DIVERTED'] = df['DIVERTED'].astype(int)
df['CRS_ELAPSED_TIME'] = df['CRS_ELAPSED_TIME'].astype(int)
df['ACTUAL_ELAPSED_TIME'] = df['ACTUAL_ELAPSED_TIME'].astype('Int64')
df['AIR_TIME'] = df['AIR_TIME'].astype('Int64')
df['AIR_TIME'] = df['AIR_TIME'].astype('Int64')
df['DISTANCE'] = df['DISTANCE'].astype('Int64')
df['DISTANCE_GROUP'] = df['DISTANCE_GROUP'].astype('Int64')

In [37]:
df['LATE_AIRCRAFT_DELAY'] = df['LATE_AIRCRAFT_DELAY'].astype('Int64')
df['CARRIER_DELAY'] = df['CARRIER_DELAY'].astype('Int64')
df['WEATHER_DELAY'] = df['WEATHER_DELAY'].astype('Int64')
df['NAS_DELAY'] = df['NAS_DELAY'].astype('Int64')
df['SECURITY_DELAY'] = df['SECURITY_DELAY'].astype('Int64')

### Check

In [28]:
df.shape

(5635967, 48)

In [29]:
df.nunique()

FL_DATE                   366
AIRLINE_ID                 12
CARRIER                    12
TAIL_NUM                 5035
FL_NUM                   6974
ORIGIN_AIRPORT_ID         313
ORIGIN_AIRPORT_SEQ_ID     322
ORIGIN_CITY_MARKET_ID     291
ORIGIN                    313
ORIGIN_CITY_NAME          308
ORIGIN_STATE_ABR           52
ORIGIN_STATE_FIPS          52
ORIGIN_STATE_NM            52
ORIGIN_WAC                 52
DEST_AIRPORT_ID           310
DEST_AIRPORT_SEQ_ID       319
DEST_CITY_MARKET_ID       289
DEST                      310
DEST_CITY_NAME            306
DEST_STATE_ABR             52
DEST_STATE_FIPS            52
DEST_STATE_NM              52
DEST_WAC                   52
CRS_DEP_TIME             1334
DEP_TIME                 1440
DEP_DELAY                1337
DEP_DELAY_GROUP            15
TAXI_OUT                  178
WHEELS_OFF               1440
WHEELS_ON                1440
TAXI_IN                   193
CRS_ARR_TIME             1439
ARR_TIME                 1440
ARR_DELAY                1386
ARR_DELAY_GROUP            15
CANCELLED                   2
DIVERTED                    2
CRS_ELAPSED_TIME          575
ACTUAL_ELAPSED_TIME       716
AIR_TIME                  692
DISTANCE                 1364
DISTANCE_GROUP             11
CARRIER_DELAY            1207
WEATHER_DELAY             688
NAS_DELAY                 608
SECURITY_DELAY            172
LATE_AIRCRAFT_DELAY       749
CANCELLATION                2
dtype: int64

In [38]:
df.isna().sum()

FL_DATE                        0
AIRLINE_ID                     0
CARRIER                        0
TAIL_NUM                   12750
FL_NUM                         0
ORIGIN_AIRPORT_ID              0
ORIGIN_AIRPORT_SEQ_ID          0
ORIGIN_CITY_MARKET_ID          0
ORIGIN                         0
ORIGIN_CITY_NAME               0
ORIGIN_STATE_ABR               0
ORIGIN_STATE_FIPS              0
ORIGIN_STATE_NM                0
ORIGIN_WAC                     0
DEST_AIRPORT_ID                0
DEST_AIRPORT_SEQ_ID            0
DEST_CITY_MARKET_ID            0
DEST                           0
DEST_CITY_NAME                 0
DEST_STATE_ABR                 0
DEST_STATE_FIPS                0
DEST_STATE_NM                  0
DEST_WAC                       0
CRS_DEP_TIME                   0
DEP_TIME                   63538
DEP_DELAY                  63538
DEP_DELAY_GROUP            63538
TAXI_OUT                   65521
WHEELS_OFF                 65521
WHEELS_ON                  67975
TAXI_IN                    67975
CRS_ARR_TIME                   0
ARR_TIME                   67975
ARR_DELAY                  79772
ARR_DELAY_GROUP            79772
CANCELLED                      0
DIVERTED                       0
CRS_ELAPSED_TIME               0
ACTUAL_ELAPSED_TIME        79772
AIR_TIME                   79772
DISTANCE                       0
DISTANCE_GROUP                 0
CARRIER_DELAY            4667527
WEATHER_DELAY            4667527
NAS_DELAY                4667527
SECURITY_DELAY           4667527
LATE_AIRCRAFT_DELAY      4667527
dtype: int64

In [39]:
df.dtypes

FL_DATE                  datetime64[ns]
AIRLINE_ID                        int64
CARRIER                          object
TAIL_NUM                         object
FL_NUM                            int64
ORIGIN_AIRPORT_ID                 int64
ORIGIN_AIRPORT_SEQ_ID             int64
ORIGIN_CITY_MARKET_ID             int64
ORIGIN                           object
ORIGIN_CITY_NAME                 object
ORIGIN_STATE_ABR                 object
ORIGIN_STATE_FIPS                 int64
ORIGIN_STATE_NM                  object
ORIGIN_WAC                        int64
DEST_AIRPORT_ID                   int64
DEST_AIRPORT_SEQ_ID               int64
DEST_CITY_MARKET_ID               int64
DEST                             object
DEST_CITY_NAME                   object
DEST_STATE_ABR                   object
DEST_STATE_FIPS                   int64
DEST_STATE_NM                    object
DEST_WAC                          int64
CRS_DEP_TIME                      int64
DEP_TIME                          Int64
DEP_DELAY                         Int64
DEP_DELAY_GROUP                   Int64
TAXI_OUT                          Int64
WHEELS_OFF                        Int64
WHEELS_ON                         Int64
TAXI_IN                           Int64
CRS_ARR_TIME                      Int64
ARR_TIME                          Int64
ARR_DELAY                         Int64
ARR_DELAY_GROUP                   Int64
CANCELLED                         int64
DIVERTED                          int64
CRS_ELAPSED_TIME                  int64
ACTUAL_ELAPSED_TIME               Int64
AIR_TIME                          Int64
DISTANCE                          Int64
DISTANCE_GROUP                    Int64
CARRIER_DELAY                     Int64
WEATHER_DELAY                     Int64
NAS_DELAY                         Int64
SECURITY_DELAY                    Int64
LATE_AIRCRAFT_DELAY               Int64
dtype: object

In [41]:
df[['CARRIER', 'TAIL_NUM', 'ORIGIN', 'DEST']]

        CARRIER TAIL_NUM ORIGIN DEST
0            AA   N4YBAA    DFW  DTW
1            AA   N434AA    DFW  DTW
2            AA   N541AA    DFW  DTW
3            AA   N489AA    DFW  DTW
4            AA   N439AA    DFW  DTW
...         ...      ...    ...  ...
5635973      WN   N7703A    TUS  LAX
5635974      WN   N7815L    TUS  LAX
5635975      WN   N967WN    TUS  MDW
5635976      WN   N271LV    TUS  SAN
5635977      WN   N762SW    TUS  SAN

[5635967 rows x 4 columns]